<div class="border  p-3 height bg-gray-50 leading-loose overflow-y-scroll">
    <div class="text-xl font-bold my-2"> {{title}}</div>


    <div class="border shadow my-4 p-2 rounded  bg-white" *ngFor="let application of applicationItems">
        <div class="flex justify-between">

            <span class="text-md font-bold  rounded-full"
                [ngClass]="{pending:title==='Pending' , processing:title==='Processing' , accepted:title==='Accepted',rejected:title==='Rejected'}">{{application.companyName.slice(0,8)}}</span>
            <div class="">
                <button (click)="handleUpdate(application._id)">

                    <fa-icon class="mr-2 bg-gray-100 px-3 py-1 rounded text-slate-800" [icon]="faPenToSquare"></fa-icon>
                </button>
                <button (click)="handleDelete(application._id)">
                    <fa-icon class="text-red-500 bg-red-100 px-3 py-1 rounded" [icon]="faTrashCan"></fa-icon>
                </button>
            </div>
        </div>
        <div class="font-semibold text mt-2">{{application.position}}</div>
        <div class="text-base "><span>{{application.jobNature}}</span> <span class="fold-extrabold text-lg">,</span>
            <span class="text-sm ml-2">{{application.employmentType}}</span> </div>

        <div>
            <span class="text">
                <fa-icon class="font-bold text-orange-500 mr-1 " [icon]="faDollar"></fa-icon>
                <span class="">{{application.salary}}
                </span>
            </span>
        </div>

        <div class="bg-gray-200 text-center">
            <button class="w-full" (click)="handleDetails(application._id)">
                <fa-icon class="m-2" [icon]="faPaperclip"></fa-icon>
                View Details
            </button>
        </div>
    </div>

</div>