.pending {
    color: white;
    background-color: #FF8800;
    padding: 1px 5px;
}

.processing {
    color: white;
    background-color: #4F46E5;
    padding: 1px 5px;
}

.accepted {
    color: white;
    background-color: #10B981;
    padding: 1px 5px;
}

.rejected {
    color: white;
    background-color: #f83707;
    padding: 1px 5px;
}


.pendingNumber {
    color: #FF8800;
    padding: 1px 5px;
    font-weight: bolder;
}

.processingNumber {
    color: #4F46E5;
    padding: 1px 5px;
    font-weight: bolder;
}

.acceptedNumber {
    color: #10B981;
    padding: 1px 5px;
    font-weight: bolder;
}

.rejectedNumber {
    color: #f83707;
    padding: 1px 5px;
    font-weight: bolder;
}