
.pending{
    color: orange;
    padding:1px 5px;
    border-radius: 30px;
}
.processing{
    color: rgb(2, 247, 153);
    padding:1px 5px;
    border-radius: 30px;
}
.accepted{
    color: rgb(21, 255, 0);
    padding:1px 5px;
    border-radius: 30px;
}
.rejected{
    color: rgb(255, 51, 0);
    padding:1px 5px;
    border-radius: 30px;
}