
.pending{
    color: orange;
    background-color: antiquewhite;
    padding:1px 5px;
}
.processing{
    color: black;
    background-color: #AC94FA;
    padding:1px 5px;
}
.accepted{
    color: black;
    background-color: aquamarine;
    padding:1px 5px;
}
.rejected{
    color: white;
    background-color: rgb(255, 135, 135);
    padding:1px 5px;
}