/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: Cursive;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1070%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(241%2c 241%2c 241%2c 1)'%3e%3c/rect%3e%3cpath d='M1095.015071236075 170.29984429358558L1228.4583566775289 282.27205589059383 1340.430568274537 148.82877044914017 1206.9872828330833 36.85655885213188z' fill='rgba(227%2c 227%2c 227%2c 0.76)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1393.7500514907192 820.3992267200335L1501.4746585961152 677.4438446997244 1358.519276575806 569.7192375943284 1250.79466947041 712.6746196146375z' fill='rgba(227%2c 227%2c 227%2c 0.76)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1327.2417789736708 459.1202656910389L1429.0671449988693 267.6146049638711 1237.5614842717014 165.78923893867267 1135.7361182465029 357.2948996658405z' fill='rgba(227%2c 227%2c 227%2c 0.76)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M59.06802073179447 240.3544525060413L301.359865370285 338.24671204596876 399.2521249102125 95.95486740747828 156.96028027172196-1.9373921324492187z' fill='rgba(227%2c 227%2c 227%2c 0.76)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1674.1588773292106 176.72848566226162L1935.7167992445573 149.23764030166961 1908.2259538839653-112.32028161367708 1646.6680319686186-84.82943625308508z' fill='rgba(227%2c 227%2c 227%2c 0.76)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1070'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size:cover;
   
    
}
::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

/* *{
    font-family: 'Great Vibes', cursive;
} */