

<div>
    <!-- sharing data to children -->
    <app-job-application-statistics
     [applicationList]="applicationList"
     [pending]="pending"
     [accepted]="accepted"
     [processing]="processing"
     [rejected]="rejected"
     [upComingInterview]="upComingInterview"

    ></app-job-application-statistics>

    <div class="flex mx-16 px-2 ">

        <app-application-item class="column p-3" [title]="title1" [applicationItems]="pending"
            (deleteApplicationEvent)="deleteApplicationFromList($event)">
        </app-application-item>

        <app-application-item class="column p-3" [title]="title2" [applicationItems]="processing"
            (deleteApplicationEvent)="deleteApplicationFromList($event)">
        </app-application-item>

        <app-application-item class="column p-3" [title]="title3" [applicationItems]="accepted"
            (deleteApplicationEvent)="deleteApplicationFromList($event)">
        </app-application-item>

        <app-application-item class="column p-3" [title]="title4" [applicationItems]="rejected"
            (deleteApplicationEvent)="deleteApplicationFromList($event)">
        </app-application-item>
    </div>
</div>