<div class="mt-12 mb-20 ">

    <form [formGroup]="applicationForm" (ngSubmit)="handleUpdate()"
        class="flex flex-col justify-center w-2/5 m-auto gap-2 p-3 shadow-lg">
        <h2 class="text-xl font-semibold mb-2">Update Application Details</h2>
        <div>
            <!-- <label for="cName" class="">Company Name</label> -->
            <!-- <input type="text" id="cName" formControlName="companyName" class="border-b-2 border-slate-500"> -->

            <input type="text" id="cName" formControlName="companyName"
                class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="company name" required>
        </div>

        <div>
            <!-- <label for="position" class="">Position</label> -->
            <!-- <input type="text" id="position" formControlName="position" class=" border-b-2 border-slate-500">  -->
            <input type="text" id="position" formControlName="position"
                class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="position" required>
        </div>

        <div>
            <!-- <label for="location" class="">Location</label> -->
            <!-- <input type="text" id="location" formControlName="location" class="border-b-2 border-slate-500"> -->
            <input type="text" id="location" formControlName="location"
                class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="job location" required>

        </div>

        <div>
            <!-- <label for="jobNature" class="">Job Nature</label> -->
            <!-- <input type="text" id="jobNature" formControlName="jobNature" class="border-b-2 border-slate-500"> 
            -->
            <input type="text" id="jobNature" formControlName="jobNature"
                class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Job Nature" required>
        </div>

        <div>
            <!-- <label for="employmentType" class="">Employment Type</label> -->
            <!-- <input type="text" id="employmentType" formControlName="employmentType" class="border-b-2 border-slate-500"> -->
            <input type="text" id="employmentType" formControlName="employmentType"
                class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Employment Type" required>

        </div>

        <div>
            <!-- <label for="details" class="">Details</label> -->
            <!-- <input type="text" id="details" formControlName="details" class="border-b-2 border-slate-500"> -->
            <textarea id="details" rows="2" formControlName="details"
                class=" form-control block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Job Details ...."></textarea>
        </div>

        <div>
            <!-- <label for="salary" class="">Salary</label> -->
            <!-- <input type="text" id="salary" formControlName="salary" class="border-b-2 border-slate-500"> -->
            <input type="number" id="salary" formControlName="salary"
                class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Salary" required>
        </div>

        <div>
            <label for="interviewDate" class=""><small>Interview Date</small></label>
            <!-- <input type="date" id="interviewDate" formControlName="interviewDate" class="border-b-2 border-slate-500">        -->
            <input type="date" id="interviewDate" formControlName="interviewDate"
                class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Interview Date" required>
        </div>

        <div>
            <!-- <label for="jobLink" class="">Job Link</label> -->
            <!-- <input type="text" id="jobLink" formControlName="jobLink" class="border-b-2 border-slate-500"> -->
            <input type="text" id="jobLink" formControlName="jobLink"
                class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Job Link" required>
        </div>

        <div>

            <!-- <select formControlName="status">
                <option value="" disabled>Status</option>
                <option value="pending">Pending</option>
                <option value="processing">Processing</option>
                <option value="rejected">Rejected</option>
                <option value="accepted">Accepted</option>
            </select> -->
            <!-- <label for="small" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
            <select id="small" formControlName="status"
                class="form-control block w-full p-2 mb-6 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option selected disabled>Select Status</option>
                <option value="pending">Pending</option>
                <option value="processing">Processing</option>
                <option value="accepted">Accepted</option>
                <option value="rejected">Rejected</option>
            </select> -->


            <label for="status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select an
                option</label>
            <select id="status" formControlName="status"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option selected disabled>Status</option>
                <option value="pending">Pending</option>
                <option value="accepted">Accepted</option>
                <option value="processing">Processing</option>
                <option value="rejected">Rejected</option>
            </select>

        </div>
        <div>
            <!-- <button type="submit" [disabled]="applicationForm.invalid" class=" text-white bg-blue-600 px-3 py-2 rounded-full">Submit</button> -->

            <!-- <button type="submit" [disabled]="!applicationForm.valid"
                class="text-white bg-blue-600 px-3 py-2 rounded-full">Save Changes</button> -->
            <button type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Update</button>
        </div>
        <div *ngIf="isSubmitted"
            class="flex p-4 mb-4 text-sm text-green-700 bg-green-100 rounded-lg dark:bg-gray-800 dark:text-green-400"
            role="alert">
            <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                    clip-rule="evenodd"></path>
            </svg>
            <span class="sr-only">Info</span>
            <div>
                <span class="font-medium">Application Updated! </span> You are redirecting to Home page.
            </div>
        </div>

    </form>
</div>