
.container{
    display:grid;
    grid-template-columns: 9fr 3fr;
    grid-gap: 20px;
}

.allJobContainer{
    display:grid;
    grid-template-columns: 4fr 8fr;
    grid-gap: 20px;
}

.statisticContainer {
    display:grid;
    grid-template-columns: 6fr 6fr;
    grid-gap: 10px;
    
}