<div>
    <!-- <app-header></app-header> -->
    <!-- <div *ngIf="applicationList">
        <app-job-status [applicationList]="applicationList"></app-job-status>
    </div> -->
    <!-- <div *ngIf="applicationList">
        <app-job-application-statistics [applicationList]="applicationList"></app-job-application-statistics>
    </div> -->
    <div *ngIf="applicationList">
        <app-application-list [applicationList]="applicationList"></app-application-list>
    </div>
</div>
<!-- <div>
    
</div> -->