<section class="h-screen">
    <div class="px-6 h-full w-3/4 mx-auto text-gray-800">

        <div class="flex xl:justify-center lg:justify-between justify-center items-center flex-wrap h-full g-6">
            <div class="grow-0 shrink-1 md:shrink-0 basis-auto xl:w-6/12 lg:w-6/12 md:w-9/12 mb-12 md:mb-0">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                    class="w-full" alt="Sample image" />
            </div>
            <div class="xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-8/12 mb-12 md:mb-0">


                <section class=" dark:bg-gray-900">
                    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">

                        <div
                            class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                                <h1
                                    class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white primaryText">
                                    Register Account
                                </h1>
                                <form [formGroup]="registerForm" (ngSubmit)="handleRegister()"
                                    class="space-y-4 md:space-y-6">
                                    <div>
                                        <label for="fullName"
                                            class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Full
                                            name</label>

                                        <input formControlName="fullName" type="text" name="fullName" id="fullName"
                                        [ngClass]="{errorColor:registerFormControl.fullName.invalid && registerFormControl.fullName.touched}"
                                            class="bg-gray-100 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none focus:border-primary-600 block w-full p-2.5  placeholder-gray-400"
                                            placeholder="ex. Tamim Iqbal" >
                                    </div>

                                    <div>
                                        <label for="email"
                                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                                            email</label>
                                        <input formControlName="email" type="email" name="email" id="email"
                                        [ngClass]="{errorColor:registerFormControl.email.invalid && registerFormControl.email.touched}"
                                            class="bg-gray-100 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none focus:border-primary-600 block w-full p-2.5  placeholder-gray-400"
                                            placeholder="example@gmail.com" required="">
                                    </div>

                                    <div>
                                        <label for="password"
                                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                                        <input formControlName="password" type="password" name="password" id="password"
                                            placeholder="••••••••"
                                            [ngClass]="{errorColor:registerFormControl.password.invalid && registerFormControl.password.touched}"
                                            class="bg-gray-100 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none focus:border-primary-600 block w-full p-2.5  placeholder-gray-400"
                                            >
                                    </div>

                                    <small *ngIf="registerFormControl.password.invalid && registerFormControl.password.touched" class="text-xs">min length 8 charater</small>

                                    <div>
                                        <label for="confirmPassword"
                                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm Password</label>
                                        <input formControlName="confirmPassword" type="password" name="confirmPassword" id="confirmPassword"
                                            placeholder="••••••••"
                                            class="bg-gray-100 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none focus:border-primary-600 block w-full p-2.5  placeholder-gray-400"
                                            [ngClass]="{errorColor:registerFormControl.confirmPassword.invalid && registerFormControl.confirmPassword.touched}">
                                    </div>


                                    
                                    <div *ngIf="isPassError"
                                        class="flex p-1 rounded text-sm text-red-700 bg-red-100">
                                        <div>
                                            <span class="font-medium">{{userError}}</span>
                                        </div>
                                    </div>


                                    <div>
                                        <label for="phoneNumber"
                                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone
                                            Number</label>
                                        <input formControlName="phoneNumber" type="text" name="phoneNumber"
                                            id="phoneNumber"
                                            [ngClass]="{errorColor:registerFormControl.phoneNumber.invalid && registerFormControl.phoneNumber.touched}"
                                            class="bg-gray-100 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none focus:border-primary-600 block w-full p-2.5  placeholder-gray-400"
                                            placeholder="+8801234567891">
                                    </div>

                                    <!-- <div *ngIf="isError" class=" text-xs text-red-500"></div> -->

                                    <div *ngIf="isError"
                                        class="flex p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-gray-800 dark:text-red-400"
                                        role="alert">
                                        <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3"
                                            fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                                                clip-rule="evenodd"></path>
                                        </svg>
                                        <span class="sr-only"></span>
                                        <div>
                                            <span class="font-medium">{{userError}}</span>
                                        </div>
                                    </div>

                                    <button type="submit" [disabled]="!registerForm.valid" class="w-full  focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm px-5 py-2.5 text-center   
                                        sigUpButton ">Register</button>

                                    <div *ngIf="isSubmitted" class="flex p-4 mb-4 text-sm text-green-700 bg-green-100 rounded-lg "
                                        role="alert">
                                        <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3"
                                            fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                                                clip-rule="evenodd"></path>
                                        </svg>
                                        <span class="sr-only">I</span>
                                        <div>
                                            <span class="font-medium">Resiatration Successful! Redirecting to home page</span>
                                        </div>
                                    </div>

                                    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                                        Already have an account ? <a routerLink="/login"
                                            class="font-medium text-primary-600 underline dark:text-primary-500 hover:text-blue-500 ml-2 ">Signin</a>
                                    </p>


                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>