. {

    /* background-image: url("../../assets/image/snow-bg.jpg"); */
    position: relative;
    text-align: center;
    color: white;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif'; */
}

img-container img {
    background-size: cover;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
    font-weight: 400;
}