 .statistic-container {
    font-family: Cursive, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
    
}

.statistic-text {
    color: #44535F
}

.count-container{
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
    background-color: white;
}
.pending {
    /* min-width: 300px;
    max-height: 300px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:3;
    text-align: center;
    height: 200px;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
.processing {
    /* min-width: 300px;
    max-height: 300px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:3;
    text-align: center;
    height: 200px;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.rejected {
    /* min-width: 300px;
    max-height: 300px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:3;
    text-align: center;
    height: 200px;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.accepted {
    /* min-width: 300px;
    max-height: 300px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:3;
    text-align: center;
    height: 200px;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.count-container p {
    font-size: 36px;
    font-weight: 900;
    /* color:#304974; */
}

.count-container span {
    font-size: 16px;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
}