
.navBarColor{
    background-color: #D0DCF2;
}
.navLinkColor{
    background-color:#4F46E5;
    color: white;
}

/* .navLinkColor:hover{
    transition: 0.5;
    transform: scale(1.2);

} */

.text {
    color: #4c5e6c
}